{% extends "base/content_base.html" %}


{% block nav_right %}
  <li><a href="/">Home</a></li>
  <li class=active><a href="/dashboard/">Dashboard</a></li>
  <li><a href="/logout/">Logout</a></li>
{% endblock %}


{% block content_base %}
<h2>{{twitter_feed.hashtag}}</h2>
{% for user in feed_users %}
<pre>
@{{ user.display_name}} 
<ul>
<!-- todo: this user.feed_items is not longer specific just to a single feed, 
  so needs a filter or where to drill down data for further processing that will be 
  used in the visualization
-->
{% for item in user.feed_items %}
<li>{{item.tweet_data.text}}</li>
{% endfor %}
</ul>
</pre>
{% endfor %}
{% endblock %}
