{% extends "base/content_base_fullwidth.html" %}

{% block nav_right %}
  <li><a href="/">Home</a></li>
  <li class=active><a href="/dashboard/">Dashboard</a></li>
  <li><a href="/logout/">Logout</a></li>
{% endblock %}

{% block styles %}
  {{super()}}
  <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/3.3.16/css/timeline.css">
  <link rel="stylesheet" href="/static/css/emoji.css">
  <script src="https://cdn.knightlab.com/libs/timeline3/3.3.16/js/timeline.js"></script>
  <script src="/static/js/emoji.js"></script>
{% endblock %}

{% block footer_scripts %}
<script>
  jQuery(document).ready(function(){

    var twitter_events = {{twitter_feed_items|safe}};
    var github_events = {{github_feed_items|safe}}
    var slack_events = {{slack_feed_items|safe}}


    var emoji = new EmojiConvertor(); // force text output mode
    emoji.text_mode = false;
    emoji.include_title = true;
    emoji.use_sheet = false
    emoji.img_set = 'emojione';
    emoji.img_sets.emojione.path = '/static/media/emoji-data/img-emojione-64/';
    $.each(slack_events, function(i, value){
      value.text.text = emoji.replace_colons( value.text.text );
    });





    var div_id = 'timeline';
    var options = {
      events: [].concat( twitter_events, github_events, slack_events )
    };

    window.timeline = new TL.Timeline(div_id, options);


  })
  </script>
{% endblock %}

{% block content_base %}
  <div id="timeline"></div>
{% endblock %}
